.myForm {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.myForm > * {
  padding: 10px;
  margin: auto;
}

.myForm input {
  padding: 15px;
  border: 0px;
  border-bottom: 1px solid black;
  margin: 10px;
}

.myForm input[type="submit"] {
  background: #eeeeee;
  font-size: 20px;
  border-radius: 10px;
  border: 0px;
}
